*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9575rem;
  font-family: "Poppins", sans-serif;
  color: #a3a5ae;
  background: #fafafa;
}
body > * {
  margin-inline: 2rem;
}
@media (min-width: 1000px) {
  body > * {
    margin: 0;
  }
}

img {
  max-width: 100%;
}

p {
  line-height: 1.6;
}

.header {
  text-align: center;
}
.header__title {
  margin-top: 5.1rem;
  font-size: 1.515rem;
  font-weight: 200;
  color: #4c4e61;
}
.header__title span {
  font-weight: 600;
}
@media (min-width: 1000px) {
  .header {
    max-width: 36vw;
  }
  .header .header__title {
    font-size: 2.3rem;
    line-height: 1.4;
    margin-block: 5rem 1.1rem;
  }
  .header .header__body {
    margin: 0;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "supervisor" "team" "karma" "calculator";
  gap: 1.5rem;
  margin-block: 3.8rem 4rem;
}
@media (min-width: 1000px) {
  main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: ". team ." "supervisor team calculator" "supervisor karma calculator" ". karma .";
    gap: 1.875rem;
    max-width: 76.875vw;
    margin-top: 3.9rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-top: 4px solid white;
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 1.35rem 1.5rem 1.2rem 1.8rem;
  background: white;
}
.card__text > * {
  margin-block: 0;
}
.card__title {
  font-size: 1.25rem;
  margin-bottom: 0.2rem;
  color: #4c4e61;
}
.card__body {
  font-size: 0.85rem;
  line-height: 1.7;
}
.card__icon {
  align-self: flex-end;
  margin-top: 1.9rem;
  transform: scale(0.9);
}
.card--supervisor {
  border-color: #45d3d3;
  grid-area: supervisor;
}
.card--team {
  border-color: #ea5353;
  grid-area: team;
}
.card--karma {
  border-color: #fcaf4a;
  grid-area: karma;
}
.card--calculator {
  border-color: #549ef2;
  grid-area: calculator;
}
@media (min-width: 1000px) {
  .card {
    padding: 1.7rem 2rem 1.7rem 2rem;
  }
  .card__title {
    padding-bottom: 0.3rem;
  }
  .card__icon {
    margin-top: 2.4rem;
    transform: unset;
  }
}