@use 'variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 0.9575rem;

  font-family: 'Poppins', sans-serif;
  color: $clr-neutral;

  background: $clr-neutral-light;

  & > * {
    margin-inline: 2rem;

    @media (min-width: 1000px) {
      margin: 0;
    }
  }
}

img {
  max-width: 100%;
}

p {
  line-height: 1.6;
}
