// colors
$clr-team: hsl(0, 78%, 62%);
$clr-supervisor: hsl(180, 62%, 55%);
$clr-karma: hsl(34, 97%, 64%);
$clr-calculator: hsl(212, 86%, 64%);

$clr-neutral-dark: hsl(234, 12%, 34%);
$clr-neutral: hsl(229, 6%, 66%);
$clr-neutral-light: hsl(0, 0%, 98%);
